.nav{
    display: flex;
    justify-content:space-between;
    background-color: aqua;
    align-items: center;

}
a{
    text-decoration: none;
    color: black;
    font-size: 30px;
}
ul{
    display: flex;
}
li{
    list-style: none;
    padding: 0px 20px 0px 20px;
}